[submodule "packages/contracts/lib/openzeppelin-foundry-upgrades"]
	path = packages/contracts/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "packages/contracts/lib/xerc20"]
	path = packages/contracts/lib/xerc20
	url = https://github.com/defi-wonderland/xerc20
